#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
@font-face {
  font-family: 'maple bold'; 
  src: url('/src/fonts/Maplestory Bold.ttf') format('truetype');
  font-weight: 800;
  font-size: 40px;
}
@font-face {
  font-family: 'maple light';
  src: url('/src/fonts/Maplestory Light.ttf') format('truetype');
  font-weight: 800;
  font-size: 40px;
}
.maple-bold-title{
  font-family: 'maple bold';
  font-size: 50px;
}
.maple-light{
  font-family: 'maple light';
  font-size: 20px;
}
header{
  border-bottom: 1px solid #444444;
  margin: 30px 0px;
}
.custom-content{
  width: 900px;
  padding-top: 10px;
}
.custom-content-border{
  width: 900px;
  padding-top: 10px;
  border: 2px solid #444444;
  border-radius: 20px;
}
.custom-footer{
  display: flex;
}
.wrap{
  display: flex;
}
.input{
  text-align: left;
}
.button{
    /* float: left; */
    font-size: 40px;
    margin-inline: 10px;
    margin-top: 5px;
    width: 80px;
}
.button_box{
    text-align: left;
}
.input_box{
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    margin-top: 14px;
}
.div_solid{
  border-bottom: 1px solid #444444;
  display: flex;
}
.text_deco{
    text-decoration: line-through;
    text-decoration-color: gray;
    color: gray;
}
